.item-details {
	display: flex;
	// margin-top: 1rem;
	flex-direction: row;
	padding: 1rem;

	.item-image {
		width: 25%;
		height: 25%;
		border-radius: 10px;
	}

	.list-group-item {
		padding: .25rem;

		.term {
			margin-right: .5rem;
		}
	}

	button {
		margin-top: 5px;
	}
}